.form{
    min-width: 256px;
    height: 70vh;
    background-color: rgba(178, 178, 200, 0.1);
    border-radius: 5%;
    padding: 20px;
}


.form__title{
    color: #fff;
    padding-bottom: 10px
}

.form__container {
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

/* Container for the question and labels */
.form__question {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid;
}

/* Aligning the radio button with its text */
.form__question label {
  display: flex;
  /* Aligns radio button to the top of the first line */
  align-items: flex-start;
  gap: 10px;
  /* Keeps the label width based on its content */
  /* width: fit-content; */
  width: 100%;
}

/* Prevents the radio button from shrinking when text is long */
.form__question input[type="radio"] {
    /* Essential to keep the button's shape */
  flex-shrink: 0; 
  /* Optional: fine-tune vertical alignment with text */         
  margin-top: 4px;         
}

/* input[type="text"] {
    width: -webkit-fill-available;
    height: 300px; 
    padding: 10px;
    Let padding define the size
    height: auto;
    overflow-y: scroll;       
} */

input::placeholder{
    padding: 10px;
    position: absolute;
    top: 0;
}

.form__question-text-input{
    resize: none;
    width: 100%;
    height: 130px;
    padding: 10px;
}

.form__button-submit{
    margin: 5px 0 0;
}

@media screen and (max-width: 780px) {
    /* .form__question label{
        width: 100%;
    } */
}

@media screen and (max-width: 380px) {
    .form{
        font-size: 10px;
    }
}